Solution/QCAstWebApplication/Service References/QCAstServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://qcsolutions.co.za/services/" elementFormDefault="qualified" targetNamespace="http://qcsolutions.co.za/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetUserFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetUserFromIdResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q2:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyWebmasterOfError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyWebmasterOfErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAndProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAndProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetClientAndProfileResult" nillable="true" type="q3:ClientProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllClientsResult" nillable="true" type="q4:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllUsersForClientResult" nillable="true" type="q5:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUnInvoicedRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUnInvoicedRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForUnInvoicedRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idProfile" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProfile" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingsForGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentMonth" type="xs:int" />
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingsForGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="BillingsForGraphResult" nillable="true" type="q6:ArrayOfKeyValuePairOfstringArrayOfanyTypety7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientFromUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetClientFromUserResult" nillable="true" type="q7:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllProfilesResult" nillable="true" type="q8:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfUserExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllContactMethodsResult" nillable="true" type="q10:ArrayOfPreferredContactMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfClientExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountingCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfClientExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfClientExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="client" nillable="true" type="q11:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetClientFromIdResult" nillable="true" type="q12:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="client" nillable="true" type="q13:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetInvoicesForClientResult" nillable="true" type="q14:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingsForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingsForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetBillingsForClientResult" nillable="true" type="q15:ArrayOfBilling" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUninvoicedDetailsForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUninvoicedDetailsForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetUninvoicedDetailsForClientResult" nillable="true" type="q16:ArrayOfInvoiceDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicedDetailsForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicedDetailsForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetInvoicedDetailsForClientResult" nillable="true" type="q17:ArrayOfInvoiceDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicedSummaryForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicedSummaryForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetInvoicedSummaryForClientResult" nillable="true" type="q18:ArrayOfInvoiceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUninvoicedSummaryForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUninvoicedSummaryForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetUninvoicedSummaryForClientResult" nillable="true" type="q19:ArrayOfInvoiceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalDurationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInvoice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvoiceDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetAllReportsResult" nillable="true" type="q20:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUndefinedDestinations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUndefinedDestinationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetUndefinedDestinationsResult" nillable="true" type="q21:ArrayOfBilling" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20ByDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20ByDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetTop20ByDurationResult" nillable="true" type="q22:ArrayOfTopTwenty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20ByCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20ByCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetTop20ByCostResult" nillable="true" type="q23:ArrayOfTopTwenty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByOrigin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByOriginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QCAstSolution.Classes" minOccurs="0" name="GetSummaryByOriginResult" nillable="true" type="q24:ArrayOfSummaryByOrigin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>